<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue-practice-todo-app</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--<link rel = "stylesheet" type = "text/css" href = "style.css" />-->
</head>
<body>
    
    <div id="app">
        <h2>What should I do today</h2>
        
        <div v-for="task in tasks">
            <input type="checkbox" value="1"> {{ task }} <br>
            <label id="label"  for="1"> </label>
        </div>
        <input type="text" v-model="inputValue" :placeholder="placeholder" @keyup.enter="addToTasks">
    </div>
    
    <script src="app.js"></script>
</body>
</html>